.random-tweet {
  font-size: 0.875rem;
}

.random-tweet > span {
  margin-left: 0.5rem;
  color: #ff1a1a;
  animation: changed 0.5s;
}

.generate-tweet-button {
  height: 1rem;
  font-size: 0.875rem;
  text-decoration: underline;
  color: var(--accents-5);
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 0.25rem;
}

.generate-tweet-button:hover {
  text-decoration: none;
}

.generate-tweet-button.tweet-loading {
  cursor: wait;
  text-decoration: none;
  animation: changed 1s;
}

.id {
  animation: updated 1.7s;
}

.m {
  margin-top: 1rem;
}

.centerCol {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweetbutton {
  background-color: var(--link-color);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border: 0 solid var(--link-color);
  box-sizing: border-box;
  color: var(--tweet-font-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 20px;
}

.tweetbutton:hover {
  filter: brightness(80%);
}

@keyframes updated {
  30% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes changed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.input {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: flex;
  padding: 5px 4px 0 16px;
  padding-left: 14px;
}

.button {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  color: #0070f3;
  background-color: transparent;
  border: none;
  font-size: inherit;
  line-height: inherit;
  -webkit-transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
  background-color: rgba(0, 118, 255, 0.9);
  color: #fff;
  border: 1px solid rgba(0, 118, 255, 0.9);
  padding: 0.25rem 1rem;
  margin: 0 auto;
  font-weight: 500;
  width: 100%;
  margin-top: 20px;
}
